body{
    background:#050505;
    color:white;
    font-family:tahoma;
    padding:20px;
}

h1{
    text-align:center;
    color:gold;
}

.match-card{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.1);
    border-radius:15px;
    padding:15px;
    margin:10px 0;
}

input{
    width:70px;
    padding:10px;
    margin:5px;
}

button{
    background:gold;
    color:black;
    border:none;
    padding:10px 20px;
    border-radius:10px;
}
